@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap');

.memory-map .line {
    display: grid;
    grid-template-columns: 48px 1fr;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.memory-map .current-line {
    background-color: rgba(255, 255, 255, 0.116)
}

.memory-map .line .line-number {
    opacity: 0.3;
}

.memory-map .line .line-mnemonic {
    color: rgb(116, 163, 250);
    margin-right: 4px;
}