@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap');

.memory-map .line {
    display: grid;
    grid-template-columns: 64px 1fr;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.memory-map .current-line {
    background-color: rgba(255, 255, 255, 0.2)
}

.memory-map .breakpoint {
    background-color: #943d7a75;
    position: relative;
}

.marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 20px;
}

.marker::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 48px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.line:hover .marker {
    background-color: rgba(255, 255, 255, 0.2);
}

.line:hover .marker::after {
    border-left: 10px solid rgba(255, 255, 255, 0.2);
}

.breakpoint .marker, .breakpoint:hover .marker {
    background-color: #b14891b6;
}

.breakpoint .marker::after, .breakpoint:hover .marker::after {
    border-left: 10px solid #b14891b6;
}

.memory-map .line.current-line.breakpoint {
    background-color: var(--primary)
}

.memory-map .line .line-number {
    padding-left: 8px;
    user-select: none;
    opacity: 0.3;
}

.memory-map .line .line-mnemonic {
    color: rgb(116, 163, 250);
    margin-right: 4px;
}