body {
  background-color: #943d7a;
  color: white;
  margin: 0;
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileSelectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  display: block;
  font-size: 48px;
  text-transform: uppercase;
}

.cartridge {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cartridge:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
}

.cartridgeInput {
  margin-top: 8px;
}

.cartridgeInput label {
  border: 3px white solid;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.cartridges {
  display: grid;
  grid-gap: 16px;
  margin-bottom: 56px;
  grid-template-columns: 1fr 1fr 1fr;
}

.cartridgeInput label:hover {
  background-color: white;
  color: #943d7a;
}