body {
  background-color: #943d7a;
  color: white;
  margin: 0;
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileSelectionContainer {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 8px;
  text-align: center;
}

h1 {
  display: block;
  font-size: 48px;
  text-transform: uppercase;
  font-style: italic;
  margin: 8px 0;
}

.cartridge {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cartridge:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
}

.cartridgeInput {
  display: inline-block;
}

.cartridgeInput label {
  display: inline-block;
  border: 3px white solid;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-style: italic;
}

.cartridges {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}

.cartridgeInput label:hover {
  background-color: white;
  color: #943d7a;
}

.hasDebugger span {
  margin-left: 4px;
  font-size: 12px;
}